!!! html
%html{ "ng-app" => "quartz"}
  %head
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/style.css"}
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/bootstrap/css/bootstrap.min.css"} 
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js" }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.js" }
    %script{ :src => "/js/quartz.js" }
    %title QuartzFlow
  %body
    %h1{ :id => "mainheader", "ng-controller" => "LoginCtrl"}
      QuartzFlow
      %button{ :type => "button", :class => "btn btn-xs", :id => "logout", "ng-click" => "doLogout()" } logout

    %div{ :class => "container", "ng-view" => ''}

    %script{ :src => "/js/jquery-1.10.2.min.js" }
    %script{ :src => "/bootstrap/js/bootstrap.min.js"}

    -# This is the file-upload iframe
    %iframe{ :id => "uploadiframe", :name => "uploadiframe", :onload => 'handleIframeLoad("uploadiframe")' }

    -# File input handling. See http://www.abeautifulsite.net/blog/2013/08/whipping-file-inputs-into-shape-with-bootstrap-3/
    :javascript
      console.log("HI");
      $(document)
        .on('change', '.btn-file :file', function() {
          var input = $(this),
          numFiles = input.get(0).files ? input.get(0).files.length : 1,
          label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
          console.log("CHANGED: " + label);
          input.trigger('fileselect', [numFiles, label]);

          var textInput = $(this).parents('.input-group').find(':text');
          textInput.val(label);
          
      });
