=locals[:menu]

%div{ :class => "alert alert-danger", "ng-repeat" => "error in rootErrors()" }
  %button{ :type => "button", :class => "close", "ng-click" => "deleteError(error)"} &times;
  {{error}}

%div{ :class => "alert alert-danger", "ng-repeat" => "error in errors" }
  %button{ :type => "button", :class => "close", "ng-click" => "deleteError(error)"} &times;
  {{error}}

%h1 {{ torrent.recommendedName }}
/%a{:class => "btn", "href" => "#" } Back
%table{ :class => "table" }
  %tr
    %th Size
    %td {{torrent.completedBytes}}/{{torrent.dataLength}}
  %tr
    %th Pieces
    %td {{torrent.completePieces}}/{{torrent.totalPieces}}
  %tr
    %th Status
    %td {{stateForDisplay()}}
  %tr
    %th Progress
    %td {{torrent.percentComplete}}%
  %tr
    %th Download Rate
    %td {{torrent.downloadRate}}
  %tr
    %th Upload Rate
    %td {{torrent.uploadRate}}
  %tr
    %th Download Rate Limit
    %td 
      %form{ "ng-submit" => "applyChange('downloadRateLimit')" }
        %fieldset
          %div{ :class => "input-append" }
            %input{ :class => "span2", :type => "text", "ng-model" => "torrent.downloadRateLimit", :placeholder => "Enter rate like '500 KB'" }
            %button{ :class => "btn btn-sm", :type => "submit" } Change
  %tr
    %th Upload Rate Limit
    %td 
      %form{ "ng-submit" => "applyChange('uploadRateLimit')" }
        %fieldset
          %div{ :class => "input-append" }
            %input{ :class => "span2", :type => "text", "ng-model" => "torrent.uploadRateLimit", :placeholder => "Enter rate like '20 KB'" }
            %button{ :class => "btn btn-sm", :type => "submit" } Change
  %tr
    %th Upload Ratio
    %td 
      %form{ "ng-submit" => "applyChange('ratio')" }
        %fieldset
          %div{ :class => "input-append" }
            %input{ :class => "span2", :type => "text", "ng-model" => "torrent.ratio", :placeholder => "Enter decimal number like '1.5'" }
            %button{ :class => "btn btn-sm", :type => "submit" } Change
  %tr
    %th Upload Duration Limit
    %td 
      %form{ "ng-submit" => "applyChange('uploadDuration')" }
        %fieldset
          %div{ :class => "input-append" }
            %input{ :class => "span2", :type => "text", "ng-model" => "torrent.uploadDuration", :placeholder => "Enter duration like '1h 20m'" }
            %button{ :class => "btn btn-sm", :type => "submit" } Change
  %tr
    %th Bytes Uploaded
    %td {{torrent.bytesUploaded}}
  %tr
    %th Bytes Downloaded
    %td {{torrent.bytesDownloaded}}
 
%h2 Files ({{torrent.info.files.length}})

%table{ :class => "table" }
  %tr
    %th Path
    %th Length
  %tr{ "ng-repeat" => "file in torrent.info.files" }
    %td {{file.path}}
    %td {{file.length}}

%h2 Peers ({{torrent.peers.length}})

%table{ :class => "table" }
  %tr
    %th IP
    %th Port
    %th Upload Rate
    %th Download Rate
    %th Percent Complete
  %tr{ "ng-repeat" => "peer in torrent.peers" }
    %td {{peer.trackerPeer.ip}}
    %td {{peer.trackerPeer.port}}
    %td {{peer.uploadRate}}
    %td {{peer.downloadRate}}
    %td {{peer.pctComplete}}

%h2 Alarms

%table{ :class => "table" }
  %tr
    %th Raised
    %th Details
  %tr{ "ng-repeat" => "alarm in torrent.alarms" }
    %td {{alarm.time}}
    %td {{alarm.details}}

