%div{ :class => "row"}

  %ul{ :class => "nav nav-pills"}
    %li{ :class => "active" }
      %a{ :href => "#" } Main
    %li
      %a{ :href => "#/config" } Config

  %div{ :class => "alert alert-error", "ng-repeat" => "error in errors" }
    %button{ :type => "button", :class => "close", "ng-click" => "deleteError(error)"} &times;
    {{error}}

  %div{ :class => "span4"}
    %form{ "ng-submit" => "downloadTorrentFile()" }
      %fieldset
        %label Download using .torrent link
        %div{ :class => "input-append" }
          %input{ :class => "span2", :type => "text", :placeholder => "paste url", "ng-model" => "torrentToDownload" }
          %button{ :class => "btn", :type => "submit" } Get
  %div{ :class => "span4"}
    %form{ "ng-submit" => "startMagnetLink()" }
      %fieldset
        %label Download using Magnet
        %div{ :class => "input-append" }
          %input{ :class => "span2", :type => "text", :placeholder => "paste magnet url", "ng-model" => "magnetToStart" }
          %button{ :class => "btn", :type => "submit" } Get
  %div{ :class => "span4"}
    %form{:method => "post", :enctype => "multipart/form-data", :action => "/upload_torrent", :target => "uploadiframe", :id => "torrent_upload_form" }
      %fieldset
        %label Download using .torrent
        %input{ :class => "span3", :type => "file", :placeholder => "browse...", :name => "torrentfile" }
        %button{ :class => "btn", :type => "submit" } Upload

%table{ :class => "table table-striped table-condensed" }
  %tr
    %th Name
    %th Size
    %th Status
    %th Rates
    %th Progress
    %th ETA
    %th Actions
  %tr{ "ng-repeat" => "torrent in currentPage" }
    %td {{torrent.recommendedName}}
    %td {{torrent.dataLength}}
    %td {{stateForDisplay(torrent.infoHash)}}
    %td {{torrent.downloadRate}}/{{torrent.uploadRate}}
    %td {{torrent.percentComplete}}%
    %td {{torrent.timeLeft}}
    %td 
      %div{ :class => "dropdown" }
        %button{ :class => "btn dropdown-toggle", "data-toggle" => "dropdown", :href => "#" } Actions
        %ul{ :class => "dropdown-menu"}
          %li
            %a{ :href =>"#", "ng-click" => "togglePause(torrent.infoHash)" } {{pauseMenuItem(torrent.infoHash)}}
            %a{ :href =>"#", "ng-click" => "deleteTorrent(torrent.infoHash, false)"} Delete Torrent
            %a{ :href =>"#", "ng-click" => "deleteTorrent(torrent.infoHash, true)"} Delete Torrent and Files
            %a{ :href =>"#/details/{{torrent.infoHash}}"} Details

%div{ :class => "pagination pagination-right" }
  %ul
    %li
      %a{ :href => "", "ng-click" => "decrementPage()" } Prev
    %li{ "ng-repeat" => "page in pagesInfo", :class => "{{page.style}}" }
      %a{ :href => "", "ng-click" => "setPage(page.number)" } {{page.number}}
    %li
      %a{ :href => "", "ng-click" => "incrementPage()" } Next

